@model LibraryManagementSystem.Models.Entity.BOOK_TABLE
@{
    ViewBag.Title = "GetBook";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!--1-Which action 2-Which Controller 3-When will be on action-->
@using (Html.BeginForm("UpdateBook", "Book", FormMethod.Post))
{
<div class="form-group">
    <label>ID</label>
    @Html.TextBoxFor(book => book.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <label>Book Name</label>
    @Html.TextBoxFor(book => book.NAME, new { @class = "form-control", @required = "required", @maxlength = "30", @placeholder = "Name" })
    <br />
    <label>Category</label>
    @Html.DropDownListFor(category => category.CATEGORY_TABLE.ID, (List<SelectListItem>)ViewBag.categoryItem, new { @class = "form-control" })
    <br />
    <label>Author</label>
    @Html.DropDownListFor(author => author.AUTHOR_TABLE.ID, (List<SelectListItem>)ViewBag.authorItem, new { @class = "form-control" })
    <br />
    <label>Print Date</label>
    @Html.TextBoxFor(book => book.PRINTDATE, new { @class = "form-control", @required = "required", @maxlength = "4", @onkeypress = "return isNumberKey(event)", @onfocus ="this.selectionStart = this.selectionEnd = this.value.length; " })
    <br />
    <label>Publisher</label>
    @Html.TextBoxFor(book => book.PUBLISHER, new { @class = "form-control", @required = "required", @maxlength = "30", @placeholder = "Publisher" })
    <br />
    <label>Page</label>
    @Html.TextBoxFor(book => book.PAGE, new { @class = "form-control", @required = "required", @maxlength = "4", @onkeypress = "return isNumberKey(event)" })
</div>
    <div>
        <button id="defaultBtn" style="background-color:darkseagreen; color:black; margin-top:15px" class="btn btn-info">Update</button>
    </div>
}

