@using LibraryManagementSystem.Models.Entity;
@model List<BOOK_TABLE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <title>Books</title>
</head>

@using (Html.BeginForm("Index", "Book", FormMethod.Get))
{
    <div class="container">
        <div style="margin-top:15px; margin-bottom:15px; margin:auto; margin-top:15px; width:50%">
            @Html.TextBox("searchInput", "", new { @class = "form-control", @style = "width:60%;float:left", @placeholder = "Search book name...", @id = "searchInput", @maxlength = "30" })
            <input class="btn btn-success" style="margin-left:15px; width:20%" type="submit" value="Search">
            <button class="btn btn-info" style="margin-left:7px" onclick="ClearFields();"><i class="glyphicon glyphicon-refresh"></i></button>
        </div>
    </div>
}

<div>
    <h2 id="tableTitle" style="background-color:lightyellow;">Books</h2>
</div>


<table class="table table-striped;" style="position:center; background-color: lightgray; table-layout: auto;">
    <tr style="background-color:gold">
        <th >Book Id</th>
        <th>Book Name</th>
        <th >Book Category</th>
        <th >Book Author</th>
        <th >Print Date</th>
        <th >Publisher</th>
        <th >Page</th>
        <th >Status</th>
        <th >Delete</th>
        <th >Update</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td >@book.ID</td>
            <td  id="tableDataOverFlow">@book.NAME</td>
            <td >@book.CATEGORY_TABLE.NAME</td>
            <td >@book.AUTHOR_TABLE.NAME&nbsp;@book.AUTHOR_TABLE.SURNAME </td>
            <td >@book.PRINTDATE</td>
            <td  id="tableDataOverFlow">@book.PUBLISHER</td>
            <td >@book.PAGE</td>
            <td >@book.STATUS</td>
            <td ><a href="/Book/DeleteBook/@book.ID" class="btn btn-danger " style="background-color:darkred" onclick="return confirm(' Are you sure you want to delete Book:\n @book.NAME')">Delete</a></td>
            <td ><a href="/Book/GetBook/@book.ID" class="btn btn-info" style="background-color:darkseagreen;color:black">Update</a></td>
        </tr>
    }
</table>
<br />
<a style="margin-bottom:15px" href="/Book/AddBook/" class="btn btn-primary">Add New Book</a>
@if (Model.Count() == 0)
{
    <div class="alert alert-danger" role="alert" style="width:50%;text-align:center;margin:auto">
        <b>No books found.</b>
    </div>
}
