@using LibraryManagementSystem.Models.Entity;
@model List<BOOK_TABLE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <title>Books</title>
</head>

@using (Html.BeginForm("Index", "Book", FormMethod.Get))
{
    <div class="container">
        <div style="margin-top:15px; margin-bottom:15px; margin:auto; margin-top:15px; width:50%">
            @Html.TextBox("searchInput", "", new { @class = "form-control", @style = "width:60%;float:left", @placeholder = "Search book name...", @id = "searchInput", @maxlength = "30" })
            <input class="btn btn-success" style="margin-left:15px; width:20%" type="submit" value="Search">
            <button class="btn btn-info" style="margin-left:7px" onclick="ClearFields();"><i class="glyphicon glyphicon-refresh"></i></button>
        </div>
    </div>
}

<div>
    <h2 id="tableTitle" style="background-color:gray;">Books</h2>
</div>


<table style="position:center; background-color: black; table-layout: auto;">
    <tr>
        <th style="background-color:lightgray;">Book Id</th>
        <th style="background-color:lightgray;">Book Name</th>
        <th style="background-color:lightgray;">Book Category</th>
        <th style="background-color:lightgray;">Book Author</th>
        <th style="background-color:lightgray;">Print Date</th>
        <th style="background-color:lightgray;">Publisher</th>
        <th style="background-color:lightgray;">Page</th>
        <th style="background-color:lightgray;">Status</th>
        <th style="background-color:lightgray;">Delete</th>
        <th style="background-color:lightgray;">Update</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td style="background-color: lightgray;">@book.ID</td>
            <td style="background-color: lightgray;" id="tableDataOverFlow">@book.NAME</td>
            <td style="background-color: lightgray;">@book.CATEGORY_TABLE.NAME</td>
            <td style="background-color: lightgray;">@book.AUTHOR_TABLE.NAME&nbsp;@book.AUTHOR_TABLE.SURNAME </td>
            <td style="background-color: lightgray;">@book.PRINTDATE</td>
            <td style="background-color: lightgray;" id="tableDataOverFlow">@book.PUBLISHER</td>
            <td style="background-color: lightgray;">@book.PAGE</td>
            <td style="background-color: lightgray;">@book.STATUS</td>
            <td style="background-color: lightgray;"><a href="/Book/DeleteBook/@book.ID" class="btn btn-danger " style="background-color:darkred" onclick="return confirm(' Are you sure you want to delete Book:\n @book.NAME')">Delete</a></td>
            <td style="background-color: lightgray;"><a href="/Book/GetBook/@book.ID" class="btn btn-info" style="background-color:darkseagreen;color:black">Update</a></td>
        </tr>
    }
</table>
<br />
<a style="margin-bottom:15px" href="/Book/AddBook/" class="btn btn-primary">Add New Book</a>
@if (Model.Count() == 0)
{
    <div class="alert alert-danger" role="alert" style="width:50%;text-align:center;margin:auto">
        <b>No books found.</b>
    </div>
}
